.main-accordian {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
    margin-top: 0;
}

.Accordian-Item{
    border-radius: .2rem;
    background-color: #F4F2DA;
    transition: all .2s ease-out;
}

.Accordian-Heading {
    padding: 1rem;
    transition: all .2s ease-out;
}
.Accrordian-h1 {
    color: #7D7738;
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.Accordian-Panel {
    transition: all .2s ease-out;
    padding: 1rem;
    color: #A29F83;
}

@media screen and (max-width:700px) {
    .Accrordian-h1 {
        font-size: 1rem;
    }

    .main-accordian {
        margin: 1rem;
        margin-top: 0;
    }
}